[submodule "semantic_kitti_data_loader"]
	path = semantic_kitti_data_loader
	url = git@bitbucket.org:prometheusborealis/semantic_kitti_data_loader.git
[submodule "roc_utils"]
	path = roc_utils
	url = git@bitbucket.org:prometheusborealis/roc_utils.git
